@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #000000;
    height: 100vh;
    width: 100%;
}

.App {}

ul li {
    list-style: none;
}

ul,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}


.ConnectedButton {
    background-color: #f26e2c;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#toast-container {
    top: unset !important;
    left: unset !important;
    bottom: 12px !important;
    right: 12px !important;
}