.Staking {
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 12px;
}

.StakingWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}




.StakingItem {
    width: 50%;
    /*border: 1px solid red;*/
}

.StakingItem>h3 {
    color: #daeb6e;
    font-size: 28px;
    margin: 20px 0 10px;
    font-weight: 500;
}

.StakingItem>h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
}

.StakingItem>p {
    font-size: 16px;
    letter-spacing: 1px;
}

.StakingCalculation {
    margin-top: 50px;
}

.StakingCalculation>h2 {
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.5;
}

.StakingCalculationWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.StakingCalculationItem {
    width: 50%;
    display: flex;
    align-items: center;

}

.StakingCalculationItem img {
    width: 57px;
    margin-right: 15px;
}

.StakingCalculationItem h3 {
    font-size: 14px;
    color: #b4bcd0;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1px;
}

.StakingCalculationItem p {
    font-weight: 500;
    line-height: 1.5;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#f5f5f8, #bbbbbd);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 20px;
}

.StakingForm {
    width: 50%;
    /*border: 1px solid red;*/
}

.StakingFormHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.StakingFormHeader h3 {
    margin: 20px 0 10px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
}

.StakingButton {
    color: #161b22;
    background-color: #daeb6e;
    border-radius: 8px;
    font-size: 16px;
    padding: 9px 15px;
    text-decoration: none;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
}

.StakingButton:disabled,
.StakingButton[disabled] {
    opacity: 0.7;
}

.StakingLabel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.StakingInput {
    width: 100%;
    height: 38px;
    -webkit-text-stroke-color: #161b22;
    background-color: #161b22;
    border: 1px solid #161b22;
    border-radius: 8px;
    font-size: 16px;
    color: #a0a0a0;
    line-height: 1.42857;
    margin-bottom: 10px;
    padding: 8px 12px;
}

.StakingButtonGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.StakingLabelBalance {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.StakingLabelBalanceSection {
    /*width: 70%;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.StakingTime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 24px;
}

.StakingTime button {
    width: 32%;
}

.LorisImage {
    width: 100%;
}

@media (max-width: 1025px) {
    .StakingWrapper {
        flex-direction: column;
        align-items: center;
    }

    .StakingItem {
        width: 100%;
    }

    .StakingForm {
        width: 100%;
    }
}