.HeaderWrapper {
    align-items: center;
    justify-content: center;
}

.Header {
    z-index: 20;
    background: #f87d02b3;
    position: sticky;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 0;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    display: flex;
    overflow: hidden;
}

.Navigation {
    padding: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.NavigationItem {}

.NavigationLink {
    text-decoration: none;
    color: #161b22;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 2;
    padding: 8px 16px;
    border-radius: 100px;
    font-weight: 500;
}

.active {
    background-color: rgba(255, 255, 255, .1);
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFF;
    height: 100%;
    padding: 1em;
}

.dappElement {
    grid-column-gap: 25px;
}

.important {
    color: #fff;
    border-radius: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    transition: opacity .2s, color .35s;
    display: flex;
    background-color: #f74707;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    grid-column-gap: 6px;
    align-items: center;
}

.dappmenu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    grid-column-gap: 6px;
    padding-right: 30px;
    align-items: center;
    grid-column-gap: 25px;
    justify-content: space-between;
}

.menu>li {
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 25px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}

@media (max-width: 998px) {
    .Header {
        background: transparent;
        box-shadow: none;
        position: inherit;
    }

    a.important {
        line-height: normal;
        padding: 18px;
    }

    #menu-toggle:checked~.menu li.DappNavifationItem {
        height: 4em;
    }

    .menu-button-container {
        display: flex;
        width: 60px;
        border-radius: 18px;
        background: rgba(239, 38, 7, 0.7);
        padding: 25px;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 65px;
    }

    .dappmenu {
        top: 0;
        left: 0;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        padding: 0;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        z-index: 1;
    }

    #menu-toggle:checked~.menu li.NavigationItem {
        height: 3.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #ec4d18;
    }
}